*{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: cursive;
  font-size: 18px;
}

body{
	background-image: url("images/photo-1542831371-32f555c86880.jpeg");
    /* background-repeat: no-repeat;   */
    /* height: 100; */
    background-size: cover;
}

.wrapper .sidebar{
	/* background: rgb(5, 68, 104); */
	position: fixed;
	top: 0;
	left: 0;
	width: 225px;
	height: 100%;
	padding: 20px 0;
	transition: all 0.5s ease;
}

.wrapper .sidebar .profile{
	margin-bottom: 30px;
	text-align: center;
}

.wrapper .sidebar .profile img{
	display: block;
	width: 100px;
	height: 100px;
    border-radius: 50%;
	margin: 0 auto;
}

.wrapper .sidebar .profile h3{
	color: #ffffff;
	margin: 10px 0 5px;
}
.wrapper .sidebar .profile p{
	color: rgb(206, 240, 253);
	font-size: 14px;
}

.wrapper .sidebar ul li a{
	display: block;
	padding: 13px 30px;
	border-bottom: 1px solid white;
	color: rgb(241, 237, 237);
	font-size: 16px;
	position: relative;
}
.wrapper .sidebar ul li a .icon{
	color: #dee4ec;
	width: 30px;
	display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
	color: #0c7db1;
	background:white;
    /* border-right: 2px solid rgb(5, 68, 104); */
}

.wrapper .section{
	width: calc(100% - 225px);
	margin-left: 225px;
	transition: all 0.5s ease;
}
.wrapper .section .top_navbar{
	/* background: rgb(7, 105, 185); */
	height: 50px;
	display: flex;
	align-items: center;
	padding: 0 30px;
  padding-top: 54px;
 
}
.wrapper .section .top_navbar a{
	font-size: 28px;
	color: #f4fbff;
}
/* .wrapper .section .top_navbar a:hover{
	color: #a2ecff;
} */

body.active .wrapper .sidebar{
	left: -225px;
}
body.active .wrapper .section{
	margin-left: 0;
	width: 100%;
}

.container {
    display: inline-block;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
    padding-bottom: 1px;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {
    opacity: 0;
  }
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  p {
      color: white;
      font-family: cursive;
      font-size: 50px;
      text-align: center;
  }

  /* Tasks */

  .todo{
    position: relative;
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .container .todo .addToDo{
    position: relative;
    width: 100%;
    height: 40px;
  }
  .container .todo .addToDo form{
    position: relative;
    height: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container .todo .addToDo form input{
    position: relative;
    height: inherit;
  }
  .container .todo .addToDo form input[type="text"]{
    width: 90%;
    outline: none;
    appearance: none;
    border:0;
    background: transparent;
    padding: 10px 15px;
    color: #fff;
    font-size: 1.2rem;
    border-bottom: 1.5px solid #fff;
    transition: 0.3s border;
  }
  .container .todo .addToDo form input[type="text"]::placeholder{
    color: #fff;
    font-size: 25px;
  }
  .container .todo .addToDo form input[type="text"]:focus::placeholder{
    color: #aaa;
  }
  .container .todo .addToDo form input[type="submit"]{
    width: 10%;
    cursor: pointer;
    background:#017bf5f5;
    border:  none;
    color: #000;
    font-weight: 500;
    margin-left:5px;
    color: #fff;
    font-weight: 550;
    font-size: 1rem;
  }
  .container .todo .addToDo form input[type="submit"]:hover{
    background: #017bf5;
  }
  .container .todo .list{
    position: relative;
    height: 350px;
    width: 100%;
    background: #fff;
    margin-top: 5%;
    overflow-x: hidden;
    overflow-y: auto;
    background: transparent;
    display: block;
  }
  .container .todo .list .listItem{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    color: whitesmoke;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.9);
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.9);
    margin:1px 0;
  }
  .container .todo .list .listItem:hover{
    background-color: rgba(255, 255, 255, 0.25);
  }
  .container .todo .list .listItem input{
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    height: 30px;
    width: 30px;
    border: 2px solid #fff;
    margin-left: 10%;
    outline: none;
    cursor: pointer;
  }
  .container .todo .list .listItem input:checked::before{
    position: absolute;
    content: '';
    height: 80%;
    width: 3px;
  }
  .container .todo .list .listItem input:checked::after{
    position: absolute;
    content: '';
    height: 130%;
    width: 3px;
  }
  .container .todo .list .listItem h1{
    position: relative;
    width: 80%;
    text-align: center;
    font-size: 2.2rem;
  }

  /* Login Form */

  .regFormCont{ 
    width: 330px; 
    border-radius: 10px;
    padding: 40px 30px;
    margin-top: 100px;
    box-shadow: -3px -3px 9px #aaa9a9a2,
                3px 3px 7px rgba(147, 149, 151, 0.671);
    margin-left: 40%;
    background-color: rgba(255, 255, 255, 0.6);
}

.regFormCont .text{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 35px;
  color: black;
  text-align: center;
}

.regFormCont .field{
  height: 50px;
  width: 100%;
  display: flex;
  position: relative;
}

.field input{
  height: 100%;
  width: 100%;
  padding-left: 45px;
  font-size: 18px;
  outline: none;
  border: none;
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.438);
  border-radius: 8px;
}

.field input::placeholder{
  color: black;
}

.field:nth-child(2){
  margin-top: 20px;
}

.field span{
  position: absolute;
  width: 50px;
  line-height: 50px;
  color: black;
}

.regFormCont:nth-child(1){ 
    text-align: center;
}

.label { 
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: small;
}

.logbtn {
  margin: 25px 0 0 0;
  width: 100%;
  height: 50px;
  color: black;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid rgba(255, 255, 255, 0.438);
  border-radius: 8px;
  margin-top: 40px;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
}

.error { 
    font-size: 20px;
    text-align: center;
    color: red;
}

.login_msg{ 
    font-size: 22px;
    background-color: #ccc;
    border-radius: 10px;    
}

.regFormCont .or{
  font-size: 20px;
  color: blue;
  margin-top: 9px;
  float: left;
} 

/* Registration */

.loader-wraper{
 width: 40%;
 height: 30%;
 background-color: #243f2f;
 display: flex;
 justify-content: center;
 align-items: center;
} 

.loader{ 
 display: flex;
 width: 5px;
 height: 5px;
 top: 10%;
 position: relative;
 border: 4px solid #fff;
 animation: loader 2s infinite ease;
}

/* Weather */

/* Edit User Profile */
.cnt{ 
  /* border: 1px solid red; */
  width: 40%;
  height: 500px;
  margin: auto;
  margin-top: 10px;
  border-radius: 15px;
  background-color: rgb(20, 131, 131); 
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin-top: 100px;
}  
.cnt > img { 
  background-color: rgb(243, 234, 234);
  color: white;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-top: -70px;
  
}
.cnt > p { 
  font-size: 16px;
  font-family: sans-serif;
} 
